header {
    margin-top: 50px;
}

#head {
    width: 100%;
}

.fullWidth {
    width: 100%;
}

#vk_groups {
    margin: auto;
}

#currentSum #gettedSum {
    color: #FFA900;
}

#money {
    text-align: center;
    width: 100%;
    display: inline-block;
    vertical-align: top;
}

#money div {
    display: inline-block;
    vertical-align: top;
    width: 605px;
    text-align: center;
    height: 90px;
}

.textCenter {
    text-align: center;
}

#currentSumBorder {
    margin-left: -32px;
}

#currentSum {
    text-align: center;
    height: 100%;
    width: 100%;
}

#currentSum p {
    margin-top: 22px;
    font-size: 30px;
    color: black;
    height: 100%;
}

#currentSum p b {
    font-size: 40px;
    color: #FF8000;
}

#money #projectHelpBorder {
    margin-left: 15px;
    width: 270px;
    height: 90px;
}

#money #projectHelp {
    width: 300px;
    height: 90px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    background: #fefcea; /* Для старых браузров */
    background: linear-gradient(to top, #FF8000, #FFA900);
    -webkit-box-shadow: 1px 1px 3px 0 black;
    -ms-box-shadow: 1px 1px 3px 0 black;
    box-shadow: 1px 1px 3px 0 black;
}

#projectHelp p {
    margin-top: 24px;
    font-size: 35px;
    -ms-text-shadow: black 1px 1px 1px;
    text-shadow: black 1px 1px 1px;
}

#menu {
    display: inline-block;
    position: absolute;
    top: 30px;
    left: 40px;
}

.VremenaText {
    font-family: 'Vremena';
}

#menu ul li {
    display: inline;
    margin-right: 32px;
    font-family: 'Vremena';
    font-size: 30px;
}

#menu ul li a:hover { 
   text-decoration: none;
   color: #FF8000;
}

#money #projectHelp:hover {
    background: linear-gradient(to top, #30A49B, #5AC189);
}

#projectHelpBorder a {
    text-decoration: none;
    color: white;
}

#money div div p {
    font-family: 'Vremena';
}

.active {
   text-decoration: none;
   font-weight: bold;
   color: #FF8000; 
}

ul li a {
    text-decoration: none;
    color: black;
}

#logoMenu {
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

#logo {
    margin-top: 40px;
    text-align: center;
}

.centerContent {
    margin: 0 auto;
    width: 50%;
}

#navDiv {
    margin-top: 25px;
    text-align: center;
    display: inline-block;
    position: relative;
    width: 1126px;
}

.orangeText a {
    color: #FF5621;
}

.orangeFill {
    background: #FF5621;
}

#money .border {
    height: 86px;
    border: 2px solid black;
    -ms-border-radius: 4px;
    border-radius: 4px;
}

#content.borderContent {
    border-left: 2px solid black;
    border-right: 2px solid black;
}

#content {
    margin-top: -1em;
    height: 100%;
    width: 1000px;
}

#content .centerContent {
    width: 85%;
}

#contentFiller {
    height: 10px;
}

body div #bottom {
    margin: 0 auto;
}

#bottom {
    height: 20px;
    text-align: center;
    display: block;
}

#bottom hr {
    border: none;
    background-color: black;
    color: black;
    height: 2px;
    width: 974px;
    text-align: right;
    margin-right: 0;
}

#bottom div {
    display: inline-block;
}

footer {
    text-align: center;
}