
  color: black;html, body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  /*  -webkit-text-shadow: 0px 0 2px #000;
    -moz-text-shadow: 0px 0 2px #000;
    text-shadow: 0px 0 2px #000;*/
}
body{
  /*min-width: 1200px;*/
  min-height: 100%;
  /*font-family: Code-Pro;*/
  background: #F4EDE2;
  /*background: black;
  color: white;*/
}
header, footer, section, article {
  display: block;
}
h2{
  margin: 10px 0;
}
a {
    color: #000;
}
a:hover {
    color: #FBB03B;
}
a img {
    border:none
}
.header-container {
  width: 945px;
  padding: 40px 0 110px 0;
  margin: auto;
}
.container-title {
  margin: -55px 0 40px 0;
  text-transform: uppercase;
  font-size: 21px;
  text-align: center;
}
.main-logo {
  font-size: 25px;
  text-align: center;
  border: 2px solid #000001;
  text-transform: uppercase;
  width: 300px;
  height: 70px;
  /*background: url('../img/logo.png');
  -webkit-background-size: 300px 147px;
  background-size: 300px 147px;*/
  outline: none;
  display: block;
  margin: 0 auto -10px auto;
  text-decoration: none;
}

.main-logo span {
  margin-top: -12px;
  font-size: 20px;
  display: block;
  padding-bottom: 20px;
}
.clear{
  clear: both;
}
.counter-all{
  color: black;
  opacity: 0.8;
  -moz-opacity: 0.8;
  -webkit-opacity: 0.8;
  float: left;
  font-size: 13px;
  text-transform: uppercase;
  line-height: 16px;
  margin: 0 2px 0 3px;
}
.wanna-help, .wanna-help:visited {
  float: right;
  list-style: none;
  padding: 0;
  margin: 0;
  display: block;
  position: relative;
  width: 147px;
}
.bottom-counter.js-counter-index .wanna-help {
    float: none;
    display: inline-block;
}
.wanna-help span {
    background: #cc0001;
    border: none;
    display: block;
    color: white;
    padding: 10px 0;
    font-size: 15px;
    text-align: center;
    width: 147px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}
.wanna-help ul {
    display: none;
    position: absolute;
    left: 0;
}
.wanna-help ul li a {
    display: block;
    background: #000;
    border: none;
    color: #FFF;
    padding: 10px 20px;
    font-size: 15px;
    text-align: left;
    white-space: nowrap;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}
.wanna-help li:hover ul {
    display: block;
    padding: 0;
}
.wanna-help ul li a:hover {
    background: #cc0001;
}

.yad-window {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .8);
    z-index: 9999;
}
.yad-content {
    padding: 20px;
    border: 3px #CC0001 solid;
    width: 654px;
    height: 202px;
    position: fixed;
    left: 50%;
    top: 50%;
    margin: -101px 0 0 -327px;
}
.yad-close {
    display: block;
    position: absolute;
    background: url(../img/yad-close.png) no-repeat 0 0;
    cursor: pointer;
    width: 16px;
    height: 16px;
    right: -33px;
    top: -3px;
}
#yad:after {
    display: inline-block;
    content: "";
    background: url(../img/card.png) no-repeat 0 0;
    width: 25px;
    height: 20px;
    margin: 0 0 -4px 10px;

}
.about-boom, .boom-link, .boom-link:visited {
  color: black;
  opacity: 0.8;
  -moz-opacity: 0.8;
  -webkit-opacity: 0.8;
  font-size: 15px;
  font-weight: bold;
  line-height: 25px;
  text-transform: uppercase;
}
.about-boom{
  margin: 40px 0 30px 0;
  text-align: left;
}
.footer-counter{
  text-transform: uppercase;
  width: 100%;
  padding: 50px 0;
  /*background: url('../img/black-opacity.png');*/
  z-index: 20;
}
.footer-help-text{
  width: 960px;
  margin: auto;
  color: white;
  font-size: 17px;
  text-align: center;
}
.accented{
  border-bottom: solid 1px #cc0001;
  color: white;
  text-decoration: none;
}
.wanna-help li:hover span {
  background: #000;
}
.counter-all-target{
  font-size: 17px;
  line-height: 24px;
  vertical-align: bottom;
}
.main-container{
  width: 840px;
  margin: auto;
}
.counter-line{
  width: 398px;
  height: 40px;
  background: url('../img/counter-line.png');
  margin: 20px auto;
}
.counter-line.d3-push-top{
  margin-top: 30px;
}
.counter-procents{
  width: 20%;
  height: 40px;
  background: url('../img/counter-line.png') 0 -40px;

}
.social-container{
  width: 995px;
  margin: auto;
  padding-bottom: 80px;
}
.bottom-counter{
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
}
.payments-people{
  width: 400px;
  margin: 30px auto 15px auto;
  font-size: 12px;
  text-transform: uppercase;
}
.close-names, .show-all{
  color: white;
  text-decoration: none;
  border-bottom: solid 1px #cc0001;
  text-transform: uppercase;
  font-size: 12px;
}
.close-names{
  float: right;
}
.popup-names-line{
  width: 1200px;
  margin: 10px auto 0 auto;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
}
.name-column{
  width: 400px;
  float: left;
  text-align: left;
  line-height: 18px;
}
.accented-red, .accented-red:visited {
  color: #cc0001;
  text-decoration: none;
}
.name-popup-counter{
  width: 800px;
  margin: 0 auto 35px auto;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}
.help-name{

  text-align: center;
  margin-bottom: 15px;
}
.counter-link, .counter-link:visited, .public-link, .public-link:visited {
  color: white;
  text-decoration: none;
  border-bottom: solid 1px #cc0001;
}

.public-text article{
  margin-bottom: 25px;
}
.popup-names-container{
  max-height: 100%;
  overflow: auto;
  font-weight: bold;
}
.counter-link:hover, .public-link:hover {
  color: #cc0001;
}
.counter-now, .counter-target{
  font-size: 22px;
}
.about-text{
  line-height: 24px;
}
.main-counter{
  text-align: center;
  width: 650px;
  margin: auto;
}
.unitLeft{
  margin-bottom: 30px;
  float: left;
}
.counter-box{
  margin-bottom: 30px;
  margin-left: 35px;
  float: left;
}
.counter-item{
  color: black;
  opacity: 0.8;
  -moz-opacity: 0.8;
  -webkit-opacity: 0.8;
  font-weight: bold;
  font-size: 66px;
  padding: 3px 5px 15px 8px;
  border: 3px solid black;
}
.counter-comma{
  font-weight: bold;
  font-size: 66px;
  color: black;
  position: relative;
  top: 25px;
}
.counter-hint{
    float: right;
    margin: 0px -36px 0 0;
    position: relative;
    cursor: pointer;
}
.vk, .fb{
  float: left;
  margin-right: 30px;
  width: 300px;
  overflow: hidden;
}
.fb{
  background: white;
}
.tw{
  float: left;
  width: 300px;
  overflow: hidden;
}
.plugin{
  background: white;
}
.footer-partners{
  width: 1000px;
  margin: auto;
  padding: 110px 0 0 0;
  margin-bottom: 30px;
  font-size: 10px;
  line-height: 18px;
}
.main-partners{
  width: 1000px;
  margin: auto;
  padding: 0px 0 80px 0;
  margin-bottom: 30px;
  font-size: 13px;
  line-height: 22px;
}
.main-partners .partner-link{
  line-height: 40px;
}
.partner-column{
  width: 230px;
  margin: 0 10px;
  float: left;
  text-align: center;
  text-transform: uppercase;
}
.partner-link, .partner-link:visited {
  color: white;
}
.fb_iframe_widget.plugin{
  background: white !important;
}
.logo-1, .logo-2, .logo-3, .logo-4, .logo-5{
  margin: 0 auto 15px auto;
  display: block;
  outline: none;
}
.logo-1{
  width: 60px;
  height: 59px;
  background: url('../img/part1.png') no-repeat;
  -webkit-background-size: 60px 59px;
  -moz-background-size: 60px 59px;
  -o-background-size: 60px 59px;
  background-size: 60px 59px;
}
.logo-2{
  width: 60px;
  height: 58px;
  background: url('../img/part2.png') no-repeat;
  -webkit-background-size: 60px 58px;
    -moz-background-size: 60px 58px;
    -o-background-size: 60px 58px;
  background-size: 60px 58px;
}

.logo-3{
  width: 60px;
  height: 58px;
  background: url('../img/part3.png') no-repeat;
  -webkit-background-size: 60px 58px;
    -moz-background-size: 60px 58px;
    -o-background-size: 60px 58px;
  background-size: 60px 58px;
}
.logo-4{
  width: 120px;
  height: 32px;
  background: url('../img/part4.png') no-repeat;
  -webkit-background-size: 120px 32px;
    -moz-background-size: 120px 32px;
    -o-background-size: 120px 32px;
  background-size: 120px 32px;
  margin: 17px auto 27px auto;
}
.logo-5{
    width: 130px;
    height: 34px;
    background: url('../img/part5.png') no-repeat;
    -webkit-background-size: 130px 34px;
    -moz-background-size: 130px 34px;
    -o-background-size: 130px 34px;
    background-size: 130px 34px;
    margin: 23px auto 13px auto;
}
.logo-6, .logo-7, .logo-8, .logo-9, .logo-10, .logo-12, .logo-13 {
    margin: 23px auto 13px auto;
    width: 130px;
    height: 54px;
    display: block;
}

.logo-6{
    background: url('../img/part6.png') no-repeat 50% 50%;
}
.logo-7{
    background: url('../img/part7.png') no-repeat 50% 50%;
}
.logo-8{
    background: url('../img/part8.png') no-repeat 50% 50%;
}
.logo-9{
    background: url('../img/part9.png') no-repeat 50% 50%;
}
.logo-10{
    background: url('../img/part10.png') no-repeat 50% 50%;
    width: 160px;
}
.logo-11{
    background: url('../img/part11.png') no-repeat 50% 50%;
    margin: 23px auto 8px auto;
    width: 160px;
    height: 59px;
    display: block;
}
.logo-12{
    background: url('../img/part12.png') no-repeat 50% 50%;
    margin: 19px auto 8px auto;
    width: 160px;
    height: 63px;
    display: block;
}
.logo-13, .logo-14, .logo-15 {
    background: url('../img/part13.png') no-repeat 50% 50%;
    margin: 19px auto 8px auto;
    width: 160px;
    height: 63px;
    display: block;
}
.xx {
    width: 170px;
    clear: both;
}
.ss {
    width: 314px;
    margin-left: 0;
    margin-right: 41px;
}
.logo-16 {
    background: url('../img/part14.png') no-repeat 50% 50%;
    margin: 10px auto 8px auto;
    width: 304px;
    height: 72px;
    display: block;
}
.logo-17 {
    background: #5FC726 url('../img/part15.png') no-repeat 50% 50%;
    margin: 20px auto 20px auto;
    width: 146px;
    height: 50px;
    display: block;
    border-radius: 5px;
}
.q17 {
    width: 147px;
}
.logo-14 {
    width: 165px;
    background: url('../img/coinsup_logo.png') no-repeat 50% 0;

}
.logo-15 {
    width: 165px;
    background: url('../img/planB_logo.png') no-repeat 50% 50%;
}
.counter-star {
  font-weight: bold;
  font-size: 50px;
  color: black;
  position: relative;
  top: -25px;
}
.footer-share{
  width: 335px;
  margin: 40px auto 0 auto;
  color: white;
  text-transform: uppercase;
  font-size: 10px;
  padding-bottom: 30px;

}
.share-text{
  float: left;
  margin-right: 5px;
  line-height: 26px;
}
.share-logo{
  float: left;
  opacity: 0.6;
  -moz-opacity: 0.6;
  -webkit-opacity: 0.6;
}
.hide-hint{
  position: absolute;
  display: none;
  text-transform: uppercase;
  font-size: 10px;
  background: black;
  color: white;
  opacity: 0.8;
  -moz-opacity: 0.8;
  -webkit-opacity: 0.8;
  padding: 8px 5px;
  top: -40px;
  left: 29px;
  width: 150px;
}
.counter-hint:hover .hide-hint{
  display: block;
}
.landing-text{
  text-transform: uppercase;
  font-size: 17px;
  line-height: 28px;
  text-align: center;
  padding-bottom: 80px;
}
.menubar-container{
  margin: 6px;
  /*background: url('../img/black-opacity.png');*/
}
.menubar ul, li{
  padding: 0;
  margin: 0;
  list-style: none;
}
.menubar{
  border-left: 2px solid #000001;
  border-right: 2px solid #000001;
  border-bottom: 2px solid #000001;
  padding: 20px;
}
.menubar-item{
  display: inline-block;
  padding: 10px 10px 10px 20px;
  position: relative;
}

.menubar-item.active a {
  color: #FBB03B;
}

.menubar-item:hover::before, .menubar-item.active::before {
  content: "";
  width: 17px;
  height: 16px;
  display: inline-block;
  position: absolute;
/*  background: url('../img/star.png');*/
  left: 9px;
  top: 12px;
}
.side{
  margin-right: 12px;
}
.menubar-item div {
    display: none;
    position: absolute;
    left: 0;
    margin-top: 10px;
    line-height: 28px;
    padding: 10px 30px;
    background: rgba(0, 0, 0, .8);
}
.menubar-item:hover div {
    display: block;
}
.menubar-item div a {
    white-space: nowrap;
    display: block;
}
.menubar-item a, .menubar-item a:visited {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: black;
}
.bg-container{
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.page-gray{
  /*background: url('../img/bg-2.jpg') fixed 50% 68%;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.page-index{
  /*background-image: url('../img/bg-3.jpg');*/
}

.title-name {
    float: right;
    position: relative;
}
.title-name input {
    border: none;
    height: 36px;
    margin: 0;
    position: absolute;
    width: 0px;
    right: 0px;
    overflow: hidden;
    outline: none;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    background: rgba(0, 0, 0, .0);

}
.wanna-help:hover + .title-name input {
    width: 388px;
    background: rgba(0, 0, 0, .8);
}
.title-name input:hover, .title-name input:focus {
    width: 388px;
    background: #fff;
}

.pup {
    text-align: center;
    padding: 20px 0;
}
.pup, .pluso-box {
    -webkit-text-shadow: none;
    -moz-text-shadow: none;
    text-shadow: none;
}
